<%- include('layout/header') %>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-secondary text-light">
                    <h3>Editar Envío</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/update/<%= shipping._id %>" method="post">
                        <div class="mb-3">
                            <label for="parcelService" class="form-label">Servicio de Paquetería:</label>
                            <input type="text" id="parcelService" name="parcelService" class="form-control" value="<%= shipping.parcelService %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="trackingNumber" class="form-label">Número de Rastreo:</label>
                            <input type="text" id="trackingNumber" name="trackingNumber" class="form-control" value="<%= shipping.trackingNumber %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="shippingDate" class="form-label">Fecha de Envío:</label>
                            <input type="date" id="shippingDate" name="shippingDate" class="form-control" value="<%= shipping.shippingDate %>" required />
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-secondary">Actualizar</button>
                        </div>
                    </form>
                    <a href="/" class="btn btn-light mt-2"><i class="fas fa-arrow-left"></i> Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>
