<%- include('layout/header') %>

<div class="container mt-4">
    <h1 class="mb-0 text-center">Lista de Envíos</h1>
    <div class="table-responsive">
        <table class="table table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Servicio de Paquetería</th>
                    <th>Número de Rastreo</th>
                    <th>Fecha de Envío</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% if (Array.isArray(shipments) && shipments.length > 0) { %>
                    <% shipments.forEach((shipment, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= shipment.parcelService %></td>
                            <td><%= shipment.trackingNumber %></td>
                            <td><%= new Date(shipment.shippingDate).toISOString().slice(0, 10) %></td>
                            <td>
                                <!-- Botones de acción -->
                                <a href="/edit/<%= shipment._id %>" class="btn btn-outline-warning btn-sm" aria-label="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="/delete/<%= shipment._id %>" class="btn btn-outline-danger btn-sm ms-1" aria-label="Eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este envío?');">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <% if (shipment.parcelService === 'DHL') { %>
                                    <a href="/api/dhl/track/<%= shipment.trackingNumber %>" class="btn btn-outline-info btn-sm ms-1" target="_blank" aria-label="Ver detalles DHL">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                <% } else if (shipment.parcelService === '99minutos') { %>
                                    <a href="/api/99minutos/track/<%= shipment.trackingNumber %>" class="btn btn-outline-info btn-sm ms-1" aria-label="Ver detalles 99minutos">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="5" class="text-center">No hay envíos disponibles</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('layout/footer') %>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    });
</script>
